/*------------------------------------*\
	#SETTINGS
\*------------------------------------*/
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");
/*------------------------------------*\
	#TOOLS
\*------------------------------------*/
/*------------------------------------*\
	#GENERIC
\*------------------------------------*/
body {
  font-family: "IBM Plex Sans", sans-serif;
}

/*------------------------------------*\
	#ELEMENTS
\*------------------------------------*/
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Playfair Display", serif;
}

/*------------------------------------*\
	#OBJECTS
\*------------------------------------*/
/*------------------------------------*\
	#COMPONENTS
\*------------------------------------*/
.c-header {
  background-color: #000000;
}

/* Component Navigatie */
.c-nav {
  border-bottom: #b39436;
  border-top: #b39436;
  border-width: 2px;
  border-style: solid;
  border-left: none;
  border-right: none;
}
.c-nav__footer {
  list-style: none;
  padding-left: 0;
}
.c-nav__footer a {
  padding-left: 0 !important;
  color: #000000 !important;
}

/* Component button */
.c-btn__primary {
  font-size: 1rem;
  background-color: #e6be45;
  text-decoration: none;
  color: #000000;
  border-radius: 5px;
  border-style: solid;
  border-color: transparent;
  height: 3rem;
}
.c-btn__primary p {
  margin-top: 0.5rem !important;
  margin-bottom: 0.5rem !important;
}
.c-btn__primary:hover {
  background-color: #b39436;
  color: #ffffff !important;
}
.c-btn__primary--disabled {
  background-color: #e6be45;
  color: #000000;
  opacity: 50%;
}
.c-btn__primary--disabled:hover {
  background-color: #e6be45;
  color: #000000 !important;
}
.c-btn__secondary {
  font-size: 1rem;
  display: inline-flex;
  border-color: #e6be45;
  border-style: solid;
  background-color: transparent;
  text-decoration: none;
  color: #000000;
  border-radius: 5px;
}
.c-btn__secondary:hover {
  border-color: #b39436;
  color: #e6be45 !important;
}
.c-btn__secondary--disabled {
  border-color: #e6be45;
  color: #e6be45;
  opacity: 50%;
}
.c-btn__secondary--disabled:hover {
  border-color: #e6be45;
  color: #e6be45 !important;
}

.c-nieuwsbrief .form-control {
  border-top: #b39436;
  border-left: #b39436;
  border-right: #b39436;
  border-bottom: #b39436;
  border-style: solid;
  transition: border-color 0s;
  margin-bottom: 0;
  height: 3.75rem;
}
@media (min-width: 320px) {
  .c-nieuwsbrief .form-control {
    width: 18rem;
  }
}
@media (min-width: 577px) {
  .c-nieuwsbrief .form-control {
    width: 23rem;
  }
}
@media (min-width: 769px) {
  .c-nieuwsbrief .form-control {
    width: 30rem;
  }
}
@media (min-width: 993px) {
  .c-nieuwsbrief .form-control {
    width: 20rem;
  }
}
@media (min-width: 1201px) {
  .c-nieuwsbrief .form-control {
    width: 27rem;
  }
}
@media (min-width: 1401px) {
  .c-nieuwsbrief .form-control {
    width: 31rem;
  }
}
@media (min-width: 1601px) {
  .c-nieuwsbrief .form-control {
    width: 32rem;
  }
}
.c-nieuwsbrief .form-control:focus {
  border-style: solid !important;
  border-top: #b39436;
  border-left: #b39436;
  border-right: #b39436;
  border-bottom: #b39436;
  box-shadow: none;
}
.c-nieuwsbrief .form-floating {
  margin-bottom: 0 !important;
  padding: 0 !important;
}
.c-nieuwsbrief .form-floating label {
  margin-left: 1rem;
}
.c-nieuwsbrief button {
  margin-top: 0.3125rem;
}

.c-social {
  width: 30px;
  height: 30px;
  margin: 0.75rem;
  margin-left: 0;
  margin-right: 1.25rem;
}
.c-social__btn {
  padding: 0.5rem;
  padding-bottom: 0.75rem;
  border-radius: 5px;
  color: #ffffff;
  background-color: #b39436;
  border-color: #b39436;
}
.c-social__btn:hover {
  background-color: #e6be45;
  border-color: #e6be45;
  color: #ffffff;
}

.c-carousel {
  padding: 0;
}
.c-carousel__light {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.6) 50%, rgba(0, 0, 0, 0) 100%);
}
.c-carousel__slide--1 {
  background-image: url(../img/notFound.png);
}

.c-paging__arrow {
  fill: #b39436;
}
.c-paging__arrow:hover {
  fill: #e6be45;
}
.c-paging__active {
  background-color: #b39436;
  color: #ffffff !important;
}
.c-paging__active:hover {
  color: #e6be45 !important;
}

.c-footer__bottom {
  background-color: #44c8f5 !important;
  margin: 0;
}
.c-footer__bottom--txt {
  margin-bottom: 0 !important;
}
.c-footer__sponsor {
  background-color: #212121;
}

.c-rommelmarkt__txt {
  margin-right: 5rem;
}
@media (min-width: 320px) {
  .c-rommelmarkt__txt {
    margin-right: 0;
  }
}
.c-rommelmarkt__img {
  padding: 0;
}

.c-sfeerfoto img {
  padding: 0 !important;
}

.c-video {
  aspect-ratio: 16/9;
}

.c-contact__img {
  object-fit: scale-down;
}

@media (min-width: 993px) {
  .c-nieuws .col-lg-6 {
    width: 49%;
  }
}
.c-nieuws__item {
  border: solid #b39436;
  padding: 0;
}
.c-nieuws__item--img {
  object-position: center;
  object-fit: cover;
}
@media (min-width: 320px) {
  .c-nieuws__item--img {
    height: 12.5rem;
  }
}
@media (min-width: 769px) {
  .c-nieuws__item--img {
    height: 15.625rem;
  }
}
.c-nieuws__item--header {
  padding: 1rem;
}
.c-nieuws__item--header h2 {
  width: auto;
  margin: auto;
}
.c-nieuws__item--header sub {
  width: auto;
  margin: auto;
  line-height: normal;
}

.c-detail__link {
  text-decoration: none;
  color: #b39436;
}
.c-detail__link:hover {
  color: #e6be45;
}
.c-detail__img {
  padding: 0;
}
@media (min-width: 320px) {
  .c-detail__txt--like {
    justify-content: end;
  }
}
@media (min-width: 577px) {
  .c-detail__txt--like {
    justify-content: space-between;
  }
}
@media (min-width: 993px) {
  .c-detail__txt--like {
    justify-content: end;
  }
}
@media (min-width: 1601px) {
  .c-detail__txt--like {
    justify-content: space-between;
  }
}
.c-detail__txt--like a {
  width: fit-content;
  text-decoration: none;
  color: #b39436;
}
.c-detail__txt--like a:hover {
  color: #e6be45;
}
.c-detail .c-map {
  height: 300px;
}
@media (min-width: 320px) {
  .c-detail .row .container .js-detail-location .c-detail__txt--like {
    justify-content: end;
  }
}
@media (min-width: 577px) {
  .c-detail .row .container .js-detail-location .c-detail__txt--like {
    justify-content: space-between;
  }
}

/* Artist item component */
.c-card__text {
  color: #e6be45;
}
.c-card__gradient {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.6) 30%, rgba(0, 0, 0, 0) 100%);
}

@media (min-width: 993px) {
  .c-programma .col-lg-2 {
    width: 20%;
  }
}
.c-programma__top .row {
  --bs-gutter-x: 0;
}
.c-programma__filter .row {
  margin-left: 0;
}
@media (min-width: 577px) {
  .c-programma__filter .col-sm-6 {
    width: 49%;
  }
}
@media (min-width: 993px) {
  .c-programma__filter .col-lg-3 {
    width: 24.5% !important;
  }
}
.c-programma__filter--time {
  padding: 0;
  border-radius: 0.5rem;
  background-color: #e6be45;
}
.c-programma__filter--time .col-2 {
  width: 10%;
}
.c-programma__filter--location {
  padding: 0;
}
.c-programma__filter--type {
  padding: 0;
}
.c-programma__filter--search {
  padding: 0;
}
.c-programma__filter--search div .form-control {
  padding: 1rem;
  margin-bottom: 0;
  background-color: #e6be45;
  border: solid #e6be45;
  border-right: transparent;
}
.c-programma__filter--search div .input-group-text {
  background-color: #e6be45;
  border-color: #e6be45;
}

.c-map {
  height: 500px;
  margin-bottom: 1rem;
}
.c-map__filter .form-check-input {
  border-radius: 100%;
  border-width: 1px;
}
.c-map__filter .form-check-input:checked {
  background-image: none;
}
.c-map__filter .form-check-input:focus {
  box-shadow: none;
}
.c-map__filter--locatie {
  border-color: #b39436;
}
.c-map__filter--locatie:focus {
  border-color: #b39436;
}
.c-map__filter--locatie:checked {
  background-color: #b39436;
  border-color: #b39436;
}
.c-map__filter--wc {
  border-color: #000000;
}
.c-map__filter--wc:focus {
  border-color: #000000;
}
.c-map__filter--wc:checked {
  background-color: #000000;
  border-color: #000000;
}
.c-map__filter--recycle {
  border-color: #4863a0;
}
.c-map__filter--recycle:focus {
  border-color: #4863a0;
}
.c-map__filter--recycle:checked {
  background-color: #4863a0;
  border-color: #4863a0;
}
.c-map__filter--fiets {
  border-color: gray;
}
.c-map__filter--fiets:focus {
  border-color: gray;
}
.c-map__filter--fiets:checked {
  background-color: gray;
  border-color: gray;
}
.c-map__filter--info {
  border-color: #bb2423;
}
.c-map__filter--info:focus {
  border-color: #bb2423;
}
.c-map__filter--info:checked {
  background-color: #bb2423;
  border-color: #bb2423;
}
.c-map__legend--text {
  text-decoration: none;
  width: auto;
  margin: 0.2rem 0.4rem;
  padding: 0.5rem;
  color: #ffffff;
  background-color: #b39436;
  border-radius: 0.3125rem;
}
.c-map__legend--text:hover {
  color: #000000;
  background-color: #e6be45;
}

.c-leaflet__loc--ico {
  margin-left: -0.8rem;
  margin-top: -1rem;
  z-index: -2;
}
.c-leaflet__loc--text {
  font-family: "IBM Plex Sans", sans-serif;
  color: #ffffff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-45%, -60%);
}

/*------------------------------------*\
	#UTILITIES
\*------------------------------------*/
/*------------------------------------*\
	#BOOTSTRAP
\*------------------------------------*/
.nav-link {
  padding-left: 2rem !important;
  padding-right: 2rem !important;
  font-style: bold;
  color: #ffffff !important;
  transition: opacity 250ms;
  opacity: 70%;
}
.nav-link h5 {
  margin-bottom: 0;
}
.nav-link:hover {
  opacity: 100%;
  color: #e6be45 !important;
}

.active {
  opacity: 100%;
  color: #ffffff !important;
}
.active:hover {
  opacity: 100%;
  color: #ffffff !important;
}

.carousel-indicators button {
  width: 20px !important;
  height: 20px !important;
  border-radius: 2rem !important;
  background-color: #b39436 !important;
}
.carousel-indicators button:hover {
  background-color: #e6be45 !important;
  opacity: 1 !important;
}
.carousel-indicators .active {
  background-color: #4863a0 !important;
}
.carousel-indicators .active:hover {
  background-color: #4863a0 !important;
  opacity: 1 !important;
}

.form-control {
  border-top: transparent;
  border-left: transparent;
  border-right: transparent;
  border-bottom: #b39436;
  border-style: solid;
  transition: border-color 0s;
  width: auto;
  margin-bottom: 1rem;
}
@media (min-width: 320px) {
  .form-control {
    width: 17rem;
  }
}
@media (min-width: 577px) {
  .form-control {
    width: 15rem;
  }
}
@media (min-width: 769px) {
  .form-control {
    width: 20rem;
  }
}
@media (min-width: 993px) {
  .form-control {
    width: 13rem;
  }
}
@media (min-width: 1201px) {
  .form-control {
    width: 16rem;
  }
}
@media (min-width: 1401px) {
  .form-control {
    width: 18rem;
  }
}
@media (min-width: 1601px) {
  .form-control {
    width: 18rem;
  }
}
.form-control:focus {
  border-style: none;
  border-bottom-style: solid;
  border-bottom-color: #b39436;
  box-shadow: none;
}
.form-control-lg {
  border-color: #b39436;
  margin-bottom: 2rem !important;
}
@media (min-width: 320px) {
  .form-control-lg {
    width: 17rem;
  }
}
@media (min-width: 577px) {
  .form-control-lg {
    width: 30rem;
  }
}
@media (min-width: 769px) {
  .form-control-lg {
    width: 43rem;
  }
}
@media (min-width: 993px) {
  .form-control-lg {
    width: 28rem;
  }
}
@media (min-width: 1201px) {
  .form-control-lg {
    width: 34rem;
  }
}
@media (min-width: 1401px) {
  .form-control-lg {
    width: 39rem;
  }
}
@media (min-width: 1601px) {
  .form-control-lg {
    width: 39rem;
  }
}
.form-control-lg:focus {
  border-style: none;
  border-style: solid;
  border-color: #b39436;
  box-shadow: none;
}

.bg-dark {
  background-color: white !important;
}

.card {
  border-radius: 15px !important;
  border-color: transparent;
  height: 250px;
  padding: 0;
}
.card-img {
  width: 100%;
  height: 100%;
  object-position: center;
  object-fit: cover;
  border-radius: 15px !important;
}
.card-img-overlay {
  border-radius: 15px !important;
}
.card-text {
  margin-bottom: 4px;
  text-shadow: 2px 2px 2px #000000;
}

.page-link {
  border-color: transparent;
  color: #b39436;
}
.page-link:hover {
  color: #e6be45;
  border-color: #e6be45;
  background-color: transparent;
}

.form-select {
  padding: 1rem 0.5rem;
  color: #000000;
  background-color: #e6be45;
  border-color: #e6be45;
}
.form-select:focus {
  border-style: none;
  border-style: solid;
  border-color: #b39436;
  box-shadow: none;
}