/*------------------------------------*\
	#SETTINGS
\*------------------------------------*/
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");
/*------------------------------------*\
	#TOOLS
\*------------------------------------*/
/*------------------------------------*\
	#GENERIC
\*------------------------------------*/
body {
  font-family: "IBM Plex Sans", sans-serif;
}

/*------------------------------------*\
	#ELEMENTS
\*------------------------------------*/
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Playfair Display", serif;
}

/*------------------------------------*\
	#OBJECTS
\*------------------------------------*/
/*------------------------------------*\
	#COMPONENTS
\*------------------------------------*/
.c-header {
  background-color: #000000;
}

/* Component Navigatie */
.c-nav {
  border-bottom: #b39436;
  border-top: #b39436;
  border-width: 10px;
  border-style: solid;
  border-left: none;
  border-right: none;
}
.c-nav__footer {
  list-style: none;
  padding-left: 0;
}
.c-nav__footer a {
  padding-left: 0 !important;
  color: #000000 !important;
}

/*------------------------------------*\
	#UTILITIES
\*------------------------------------*/
/*------------------------------------*\
	#BOOTSTRAP
\*------------------------------------*/