/*------------------------------------*\
	#SETTINGS
\*------------------------------------*/

// importing fonts

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

// font variables

$font-headers: 'Playfair Display', serif;
$font-main: 'IBM Plex Sans', sans-serif;

// color variables
// colors for text
$Color-text-dark: #000000;
$Color-text-light: #ffffff;

// colors for website
$Color-base: #888888;
$Color-secondary: #b39436;
$Color-tertiary: #e6be45;
$Color-accent-1: #4863a0;
$Color-accent-2: #bb2423;

/*------------------------------------*\
	#TOOLS
\*------------------------------------*/

/*------------------------------------*\
	#GENERIC
\*------------------------------------*/

body {
	font-family: $font-main;
}

/*------------------------------------*\
	#ELEMENTS
\*------------------------------------*/

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: $font-headers;
}

/*------------------------------------*\
	#OBJECTS
\*------------------------------------*/

/*------------------------------------*\
	#COMPONENTS
\*------------------------------------*/

.c-header {
	background-color: $Color-text-dark;
}

/* Component Navigatie */

.c-nav {
	border-bottom: $Color-secondary;
	border-top: $Color-secondary;

	border-width: 10px;
	border-style: solid;

	border-left: none;
	border-right: none;

	&__footer {
		list-style: none;
		padding-left: 0;

		a {
			padding-left: 0 !important;
			color: $Color-text-dark !important;
		}
	}
}

/* Component button */

.c-btn {
	&__primary {
		font-size: 1rem;
		background-color: $Color-tertiary;
		text-decoration: none;
		color: $Color-text-dark;
		border-radius: 5px;
		border-style: solid;
		border-color: transparent;
		height: 3rem;

		p {
			margin-top: 0.5rem !important;
			margin-bottom: 0.5rem !important;
		}

		&:hover {
			background-color: $Color-secondary;
			color: $Color-text-light !important;
		}

		&--disabled {
			background-color: $Color-tertiary;
			color: $Color-text-dark;
			opacity: 50%;

			&:hover {
				background-color: $Color-tertiary;
				color: $Color-text-dark !important;
			}
		}
	}

	&__secondary {
		font-size: 1rem;
		display: inline-flex;
		border-color: $Color-tertiary;
		border-style: solid;
		background-color: transparent;
		text-decoration: none;
		color: $Color-text-dark;
		border-radius: 5px;

		&:hover {
			border-color: $Color-secondary;
			color: $Color-tertiary !important;
		}

		&--disabled {
			border-color: $Color-tertiary;
			color: $Color-tertiary;
			opacity: 50%;
			&:hover {
				border-color: $Color-tertiary;
				color: $Color-tertiary !important;
			}
		}
	}
}

.c-nieuwsbrief {
	.form {
		&-control {
			border-top: $Color-secondary;
			border-left: $Color-secondary;
			border-right: $Color-secondary;
			border-bottom: $Color-secondary;
			border-style: solid;
			transition: border-color 0s;
			margin-bottom: 0;
			height: 3.75rem;
			width: 18rem;

			&:focus {
				border-style: solid !important;
				border-top: $Color-secondary;
				border-left: $Color-secondary;
				border-right: $Color-secondary;
				border-bottom: $Color-secondary;
				box-shadow: none;
			}
		}

		&-floating {
			label {
				margin-left: 1rem;
			}
		}
	}

	button {
		margin-top: 0.3125rem;
	}
}

.c-social {
	width: 30px;
	height: 30px;
	margin: 0.75rem;

	&__btn {
		padding: 0.5rem;
		border-radius: 5px;
		color: $Color-text-light;
		background-color: $Color-secondary;
		border-color: $Color-secondary;

		&:hover {
			background-color: $Color-tertiary;
			border-color: $Color-tertiary;
			color: $Color-text-light;
		}
	}
}

.c-carousel {
	&__light {
		background: linear-gradient(0deg, rgba(0, 0, 0, 0.6) 50%, rgba(0, 0, 0, 0) 100%);
	}
}

.c-paging {
    // arrows used in carousel
	&__arrow {
		fill: $Color-secondary;

		&:hover {
			fill: $Color-tertiary;
		}
	}

	&__active {
		background-color: $Color-secondary;
		color: $Color-text-light !important;
		&:hover {
			color: $Color-tertiary !important;
		}
	}
}

.c-footer {
	&__bottom {
		background-color: #44c8f5 !important;
		margin: 0;

		&--txt {
			margin-bottom: 0 !important;
		}
	}

	&__sponsor {
		background-color: #212121;
	}
}

/*------------------------------------*\
	#UTILITIES
\*------------------------------------*/

/*------------------------------------*\
	#BOOTSTRAP
\*------------------------------------*/
